.form-layout{

    border-radius: 15px;
    width: 500px;

}

.message-text{

    color: white;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;   

}

.float-container {
align-items: center;
padding-left: 200px;
}

.float-child {
width: 50%;
float:inline-start;
padding-left: 30px;

} 
.float-child1 {
width: 50%;
float:right;
padding-right: 90px;

} 
